body{
    background-image: url("fondocv.jpg");
  }

 p{
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: fantasy;
    margin:30px; /* para que se separe de los lados */
    padding: 5px; /* distancia del texto al bloque */
 }
  h2{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 8px; /* separado entre letras */
    font-size: 30px;
  }
  .titulo{
    text-align: center;
    font-size: 50px;
    letter-spacing: 30px;
    font-family: fantasy;
  }
  #dcha{
    float: right;
    text-align: center;
    width: 35%;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    min-height: 50vh;
  }
  ul{
    background-color: white;
    color: black;
    font-family: fantasy;
    font-size: 12px;
    padding: 30px;
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
  }

