body{
    background-image: url("fondo2.jpg");
    color: white;
}
@font-face {
    font-family: "Orbitron";
    src: url(Orbitron.ttf);
}
@font-face {
    font-family: "Mandali";
    src: url(Mandali-Regular.ttf);
}
@font-face {
    font-family: "Anton";
    src: url(Anton-Regular.ttf);
}
h1{
    font-family: "Orbitron";
    font-size: 60px;
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
}
p{
    font-family: "Mandali";
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
}
.fuentes{
    column-count: 3;
    text-align: center;
    margin-top: 5px;
}

#botones{
    text-align: center;
}
#btn_video1{
    text-align: center;
    font-family: "Anton";
    width: 130px;
    font-weight: bolder;
    border: 3px solid;
    font-size: 20px;
    background-color: rgb(138, 138, 138);
    border-color: #ffffff;
    color:rgb(0, 0, 0);
    margin-right: 20px;
}
#btn_video2{
    text-align: center;
    font-family: "Anton";
    width: 130px;
    font-weight: bolder;
    border: 3px solid;
    font-size: 20px;
    background-color: rgb(138, 138, 138);
    border-color: #ffffff;
    color:rgb(0, 0, 0);
    margin-right: 20px;
}
#btn_video3{
    text-align: center;
    font-family: "Anton";
    width: 130px;
    font-weight: bolder;
    border: 3px solid;
    font-size: 20px;
    background-color: rgb(138, 138, 138);
    border-color: #ffffff;
    color:rgb(0, 0, 0);
    margin-right: 20px;
}
#btn_test{
    text-align: center;
    font-family: "Anton";
    width: 130px;
    font-weight: bolder;
    border: 3px solid;
    font-size: 20px;
    background-color: rgb(138, 138, 138);
    border-color: #ffffff;
    color:rgb(0, 0, 0);
    margin-right: 20px;
}


